{% extends "registration/un_authenticated_base.html" %}
{% load static %}
{% block form_block %}
    <div class="col-md-4 shadow-lg border rounded-4 p-3">
        <div class="text-center">
            <img src="{% static 'images/shop-ease.png' %}"
                 alt="Logo"
                 width="70"
                 height="70"
                 class="d-inline-block align-text-top">
        </div>
        <div class="text-center">
            <h4>Login</h4>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control"
                       name="username"
                       placeholder="Username"
                       maxlength="150"
                       required
                       id="id_username">
                <label for="id_username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password"
                       name="password"
                       class="form-control"
                       id="id_password"
                       placeholder="Password">
                <label for="id_password">Password</label>
            </div>
            <div class="text-end mb-3">
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </div>
            <div class="row text-center mt-2">
                <div class="col">
                    <hr>
                </div>
                <div class="col-6 m-0 p-0">New To ShopEase?</div>
                <div class="col">
                    <hr>
                </div>
                <div class="text-end mb-3">
                    <a type="submit"
                       class="btn btn-primary w-100"
                       href="{% url 'signup' %}">Create Your ShopEase Account</a>
                </div>
            </div>
        </form>
    </div>
{% endblock form_block %}
